/* dashboard Inner part design */
.addCheckpointsDesign{
    display: grid;
    grid-template-columns: 240px 1fr;
    align-items: center;
    overflow: hidden;
}

.addCheckpointsInner{
    padding: 30px;
    position: static;
}


.titleWithIcon{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.titleWithIcon img{
   width: 20px;
   height: 20px;
   margin-top: -11px;
}

.checkpointsDiv{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
}

.checkpointsDiv hr{
    background-color: var(--ash-color);
}

.textWithIcon{
    padding: 20px;
}

#createBtn{
    font-size: 15px;
    font-weight: 500;
    padding: 12px 30px;
}

.checkpointsContent{
    padding: 20px;
}

.checkpointsTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--body-text-color);
}

.smallWidth{
    width: 45%;
}

.marginTopBottom{
    margin-top: 30px;
    margin-bottom: 60px;
}

@media screen and (max-width: 992px) {
    .linkPage{
        margin-bottom: 20px;
    }    
}

@media screen and (max-width: 768px) {
    .addCheckpointsDesign{
        display: grid;
        grid-template-columns: 1fr;
    }
    .addCheckpointsInner{
        padding: 20px;
    }

    .linkPage{
        margin-bottom: 0px;
    }    

    .textWithIcon {
        padding: 15px;
    }

    .checkpointsContent {
        padding: 15px;
    }

    .smallWidth {
        width: 90%;
    }

    .inputFieldMargin {
        margin-top: 10px;
    }
}