body{
    background-color: var(--tertiary-color);
}

.forgotInnerBody{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.forgotPasswordImg{
    position: relative;
    background-image: url("/assets/images/forget-password.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.forgotDiv{
    padding: 30px;
}

.accessLogo{
    margin-bottom: 70px;
}

.accessLogo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: var(--body-text-color);
}



.forgotBtnMargin{
    margin-top: 60px;
}

.confirmBtn{
    width: 60%
}

@media screen and (max-width: 768px){
    .forgotInnerBody{
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }

    .forgotDiv {
        padding: 10px;
    }

    .forgotPasswordImg{
        width: 100%;
        height: 20vh;
        background-position-y: 80%;
    }

    .accessLogo {
        margin-bottom: 0;
        text-align: center;
    }

    .mobileCenter{
        text-align: center;
    }

    .accessLogo a {
        font-size: 25px;
    }

    .forgotBtnMargin{
        text-align: center;
        margin-top: 20px;
    }

    .confirmBtn {
        width: 30%;
    }
}