body{
    background-color: var(--tertiary-color);
}

.gotForgotInnerBody{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.gotForgotPasswordImg{
    position: relative;
    background-image: url("/assets/images/forget-password2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.gotForgotDiv{
    padding: 30px;
}

.accessLogo{
    margin-bottom: 70px;
}

.accessLogo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: var(--body-text-color);
}

.getPassword{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.getPassword input{
    background-color: var(--input-field-bg-color);
    color: var(--input-field-text-color);
    border-radius: var(--input-field-border-radius);
    padding: 12px 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    color: #000000;
    width: 60px;
    margin-top: 5px;
}

.getPassword{
    margin: 50px 0;
}

.confirmBtn{
    margin-top: 60px;
    width: 60%
}

.resetLink{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
}

.resetLink a{
    text-decoration: none;
    color: #3CB179;;
}

@media screen and (max-width: 768px){
    .gotForgotInnerBody{
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }

    .gotForgotDiv {
        padding: 10px;
    }

    .gotForgotPasswordImg{
        width: 100%;
        height: 20vh;
        background-position-y: 60%;
    }

    .getPassword input{
        width: 40px;
        padding: 6px 10px;
    }

    .accessLogo {
        margin-bottom: 0;
        text-align: center;
    }

    .mobileCenter{
        text-align: center;
    }

    .accessLogo a {
        font-size: 25px;
    }

    .gotForgotBtnMargin{
        text-align: center;
    }

    .getPassword, .resetLink{
        justify-content: center;
        margin: 10px 0;
    }

    .resetLink{
        font-size: 18px;
    }

    .confirmBtn {
        width: 30%;
        margin-top: 40px;
    }
}