/* dashboard Inner part design */
.dashboardDesign{
    display: grid;
    grid-template-columns: 240px auto;
    position: relative;
}

.dashboardInner{
    margin: 30px;
    position: static;
}
.headingWithImg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.headingWithImg img{
   width: 40px;
   height: 40px;
}

.titleWithIcon{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.titleWithIcon img{
   width: 20px;
   height: 20px;
   margin-top: -11px;
}

/* checkpoints div design  */
.checkpointsDiv{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
    margin-top: 40px;
}

.checkpointsDiv hr{
    background-color: var(--ash-color);
}

.textWithIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.textWithIcon button{
   border: none;
   background-color: transparent;
   cursor: pointer;
}

.textWithIcon button img{
    width: 30px;
 }

.checkpointsContent{
    padding: 20px;
}

.checkpointsTitle{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--body-text-color);
}

.instructor {
    display: flex;
    justify-content: space-between;
}

 .instInput{
  color: var(--ash-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

 .instName{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.instDesp{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: var(--body-text-color);
    margin-top: 5px;
}

.marginTop{
    margin-top: 20px;
}


.imgBox {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
}

.imgBox img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.twoImgBox{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.twoImgBox img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}


  /* responsive css */

@media screen and (max-width: 1200px){
    .checkpointsDiv{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 992px){
    .checkpointsDiv{
        grid-template-columns: 1fr;
    }


    .headingWithImg {
        margin-bottom: 20px;
    }

    .extraPadding {
        padding: 20px;
    }
}

@media screen and (max-width: 768px){
    .checkpointsDesign {
        display: grid;
        grid-template-columns: 1fr;
    }

    .headingWithImg {
        margin-bottom: 10px;
    }

    .checkpointsInner {
        padding: 20px;
    }

    .checkpointsDiv {
        margin-top: 20px;
    }

    .textWithIcon, .checkpointsContent{
        padding: 10px 15px;
    }

    .dashboardDesign {
        grid-template-columns: 1fr;
    }

    .dashboardInner {
        margin: 20px;
    }

    .headingWithImg {
        margin-bottom: 0;
        margin-top: 20px;
    }

}