body{
    background-color: var(--tertiary-color);
}

.loginInnerBody{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.resetPassImg{
    position: relative;
    background-image: url("/assets/images/reset-password.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}

.loginDiv{
    padding: 30px;
}

.accessLogo{
    margin-bottom: 70px;
}

.accessLogo a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: var(--body-text-color);
}

.forgotLink {
    margin-top: 10px;
}

.forgotLink a{
    text-decoration: none;
    color: #3CB179;
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.submitBtnMargin{
    margin-top: 60px;
}

.submitBtn{
    width: 50%
}

@media screen and (max-width: 768px){
    .loginInnerBody{
        display: flex;
        flex-direction: column-reverse;
        gap: 0;
    }

    .loginDiv {
        padding: 10px;
    }

    .resetPassImg{
        width: 100%;
        height: 20vh;
        background-position-y: 80%;
    }

    .accessLogo {
        margin-bottom: 0;
        text-align: center;
    }

    .mobileCenter{
        text-align: center;
    }

    .accessLogo a {
        font-size: 25px;
    }

    .submitBtnMargin{
        text-align: center;
    }

    .submitBtn {
        width: 30%;
    }

    .submitBtnMargin{
        margin-top: 20px;
    }
    
}